body {
    font-family: Arial;
    padding: 20px;
    background: #f2f2f2;
}

.contenedor {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
button {
    width: 100%;
    padding: 12px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
}
